.user-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.user-card {
  border: 1px solid red;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
