.create-form,
.edit-form,
.detail-modal {
  display: none;
}

.product-card {
  border: 1px solid red;
   # width: 250px;
  /* padding: 15px; */
}

.product-image {
  height: 200px;
  width: 100%;
}

.product-detail .product-image {
  width: fit-content;
}

.product-index {
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.detail-modal {
  border: 1px solid blue;
}
