.product-card {
  border: 1px solid red;
}

.product-list-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-form {
  display: none;
}

.produc-form-actions {
  display: flex;
  gap: 10px;
}

img {
  height: 150px;
}

.product-edit-detail {
  display: none;
}
